# tinyrox says don't edit this manually, but it can't stop you!

export(add_observer)
export(chat)
export(cli_worker_drain_events)
export(cli_worker_spawn)
export(default_local_model)
export(ensure_skills)
export(install_cli)
export(matrix_archive_all)
export(matrix_configure)
export(matrix_poll)
export(matrix_request_flush)
export(matrix_run)
export(matrix_send)
export(mcp_tool_executor)
export(new_session)
export(observer_progress)
export(policy)
export(register_skill_from_fn)
export(schema_from_fn)
export(schema_from_registry)
export(serve)
export(session_setup)
export(skill_install)
export(skill_list_installed)
export(skill_remove)
export(skill_test)
export(subagent_kill)
export(subagent_list)
export(subagent_query)
export(subagent_spawn)
export(subagent_turn_init)
export(subagent_turn_prompt)
export(tool_bash)
export(tool_bg_kill)
export(tool_bg_status)
export(tool_cmd)
export(tool_fetch_url)
export(tool_git_diff)
export(tool_git_log)
export(tool_git_status)
export(tool_grep_files)
export(tool_installed_packages)
export(tool_kill_subagent)
export(tool_list_files)
export(tool_list_subagents)
export(tool_query_subagent)
export(tool_r_help)
export(tool_read_file)
export(tool_read_handle)
export(tool_replace_in_file)
export(tool_run_r)
export(tool_run_r_script)
export(tool_spawn_subagent)
export(tool_web_search)
export(tool_write_file)
export(turn)
export(uninstall_cli)
export(worker_dispatch)
export(worker_init)
export(worker_tool_list)

importFrom(callr,r_session)
importFrom(codetools,findGlobals)
importFrom(llm.api,mcp_call)
importFrom(llm.api,mcp_close)
importFrom(llm.api,mcp_connect)
importFrom(printify,print_message)
importFrom(printify,print_step)
importFrom(stats,setNames)
importFrom(utils,capture.output)
importFrom(utils,head)
importFrom(utils,installed.packages)
importFrom(utils,object.size)
importFrom(utils,packageVersion)
importFrom(utils,str)
importFrom(utils,tail)
